<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb526935502266511</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>526935502266511</string>
	<key>FacebookClientToken</key>
	<string>c6293a693585b1b5337200143c8be88a</string>
	<key>FacebookDisplayName</key>
	<string>Izzifit</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Black</string>
		<string>Inter-Bold</string>
		<string>Inter-ExtraBold</string>
		<string>Inter-ExtraLight</string>
		<string>Inter-Light</string>
		<string>Inter-Medium</string>
		<string>Inter-Regular</string>
		<string>Inter-SemiBold</string>
		<string>Inter-Thin</string>
		<string>Inter-BoldItalic</string>
	</array>
</dict>
</plist>
